*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.btn{
    display: flex;
    gap: 20px;
}

.btn button{
    padding: 5px;
    cursor: pointer;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
table {  
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
}